streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters

langchain-groq
langchain-huggingface

chromadb

sentence-transformers
transformers
torch

beautifulsoup4
requests
lxml